.navbar{
    display:flex;
}
.menu{
    display:flex;
    justify-content: space-between;
    gap:50px;
    margin: 0;
    padding: 0;
}
.menu li{
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
    
       
}
.menu li:hover{
    box-shadow: 0 0 10px 5px #000;
}
.bar{
    height:2px;
    background: black;
    width: 5px;
}