
.logo{
    font-size: 1.5rem;
    text-decoration: none;
    color: #cfcfcf;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nav-item{
    list-style: none;
}
.nav-link{
    text-decoration: none;
}
.container{
    width:100%;
    margin: 0 auto;
}
.navbar{
    min-height:70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
.nav-item a{
    transition:0.5s ease-out;
    color:#cfcfcf;
    font-size: 1.2rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nav-item a:hover{
    color:rgb(255, 0, 0);
}
.hamburger{
    display:block;
    cursor: pointer;
}
.bar{
    display:block;
    width: 25px;
    height:3px;
    margin:5px auto;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-color: #cfcfcf;
}

@media(max-width:1250px){
    .hamburger{
        display:block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity:0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .menu{
        position: fixed;
        left:-100%;
        top:105px;
        gap:0;
        flex-direction: column;
        background-color: black;
        width: 100%;
        text-align:center;
        transition: 0.5s;
        z-index: 12;
    }
    .nav-item a{
        transition:0.5s ease-out;
        color:var(--white);
    }
    .nav-item a:hover{
        background: #ffffff ;
    }
    .nav-item{
        margin: 16px 0;
    }
    .menu.active{
        left:0;
    }    
}
