body {
    margin: 0;
    padding: 0;
    background-color: black;
  }
  img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .slide {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0;
    transition: opacity 10s ease-in-out;
  }
  .active {
    opacity: 1;
  }
  .container{
    position: absolute;
  }
  .navigation{
     
  }
  .navigation img{
    height: 750px;
    
   
  }