@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;800&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: montserrat;
}
img{
  max-inline-size: 100%;
  block-size: auto;/*means aspect ratio of images, will remain the same in any screen size*/ 
}
body{
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  background-color: var(--black);
}
:root{
  --red:rgb(255, 0, 0);
  --darkred:rgb(102, 0, 0);
  --skyblue:rgb(0, 187, 255);
  --deepblue:rgb(0, 17, 255);
  --white:hsl(0, 0%, 100%);
  --beige:hsl(60,56%,91%);
  --blue:rgb(29, 14, 126);
  --coldblue:rgb(11, 1, 49);
  /*Other Color Variants*/
  --black:hsl(0, 0%, 12%);
  --grey:hsl(0, 0%, 94%);
  --darkgrey:hsl(0, 0%, 24%);
  --top-row-right:60px;
}
#beats{
  position: relative;
  width: 500px;
  height:500px;
}
.headphones-circle{
  position:relative;
}
